:root {
  --color-body:  #ffffff;
  --color-
  --color-
  --color-
  --color-text:  #2e2f42
  --color-
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--color-body);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* ==========HEADER========== */
.header {
  font-style: normal;
}
.header-navigation {
}
.header-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:  #4d5ae5;
}
.header-logo-studio {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:  #2e2f42;
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:  #2e2f42;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-list {
}
.address-item {
}
.address-mailto {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-mailto:hover,
.address-mailto:focus {
  color: #404bbf;
}
.address-phone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-phone:hover,
.address-phone:focus {
  color: #404bbf;
}
/* ========HERO============*/
.hero {
  background: #2e2f42
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
.btn :hover {
  background-color: #404bbf;
}
.btn :focus {
  background-color: #404bbf;
}
.btn {
}
/* ===========Features======== */
.features {
}
.features-list {
}
.features-item {
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* ============doing========== */
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:  #2e2f42;
}
.doing-list {
}
.list {
}
.doing-item {
}
.item {
}
/* ============time============== */
.time {
  background: #f4f4fd;
}
.time-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:  #2e2f42;
}
.time-list {
}
.list {
}
.time-item {
  background-color: #ffffff;
}
.item {
}
.time-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color:  #2e2f42;
}
.time-text-prof {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
/* =============footer============== */
.footer {
  background: v#2e2f42;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:  #4d5ae5;
}
.footer-logo-studio {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* *************PORTFOLIO**************** */
/* ===== Filters=======*/
.filters-list {
}
.list {
}
.filters-item {
}
.link {
}
.filters-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color:  #4d5ae5;;
  cursor: pointer;
  background-color: #f4f4fd;
}
.filters-btn:hover,
.filters-btn:focus {
  background-color: v#404bbf;
}
.filters-btn:hover,
.filters-btn:focus {
  color: #ffffff;
}
.btn {
}
/* =====portfolio===== */
.portfolio {
}
.portfolio-list {
}
.list {
}
.portfolio-item {
}
.link {
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:  #2e2f42;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
